
.lane1{
  margin: 50px;;
    background-color: #ff4c4c;
    width: 90%;
    border: 1px solid rgb(212, 84, 84);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    height: auto;
    position: relative;
  }

  .moved {
    transform: translate(10px); /* Equivalente a translateX(10px) */
    background-color: pink;
  }
  .es1 {
    grid-column: 5 / 6;
    grid-row: 9 / 10;
    background-color: #62b5ea;
  }
  .es2 {
    background-color: #9396c7;
    position: absolute;
    border: 2px solid black;
  }
  .es3 {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    background-color: #7eb5c5;
  }

  c{
    width: 10%;
    height: 10vh;
  }
  .big{
    width: 200px;
    height: 200px;
    grid-column: 4 / 7;
    grid-row: 3 / 8;
    background-color: #f6ff00a1;
  }

  .box-lane1{
    border: 1px solid black;
    display: inline-block;
    width: auto;
    
  }
  .es2{
    left: 10vw;
  }
  /* <?php
session_start();
    include('conexion.php');
    if(isset($_GET['seccion'])){
        $seccion = $_GET['seccion'];
    }else{
        $seccion = "home";
    } 
    echo "la pagina";
?> */