html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(12, 156, 164, 0.438);
}
.run{
  box-shadow: -2px 2px 25px white
}
.main {
  border: 1px solid rgb(17, 55, 183);
  display: flex;
}
.box_data{
  width: 30%;
  padding:10px
}
.lane1{
  width: 70%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 
  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  
  grid-template-rows:0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}
.ficha{
  width: 5vh;
  height: 5vh;
  grid-column: 13 / 19;
  grid-row: 8 / 12;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid black;
  z-index: 40;

}
fichaa-dos{
  grid-column: 13 / 19;
  grid-row: 8 / 12;
}
prueba{
  border: 5px solid black;
  grid-column: 46 / 50
}
.box_info_player{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
  background-color: rgb(127, 163, 163);
}
.box_info_player-name{
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.h2_players{
  font-size: 10px
}
.h2_player{
  font-size: 15px
}
.playersP{
  margin: 0;
}
.nick{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.nick_info{
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
}
given{
  display: flex
}
.circulo {
  background-color: rgb(126, 150, 255);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  grid-column: 8 / 24;
  grid-row: 4 / 20;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  box-shadow: -2px 2px 25px white
}
.end{
  background-color: rgb(241, 88, 88);
  grid-column: 40 / 56;
  grid-row: 36 / 52;
}

.cuadro {
  width: 100%;
  height: 100px;
}

.uno {
  background-color: rgb(126, 150, 255);
  grid-column: 20 / 28;
  grid-row: 8 / 16;
}

.dos {
  background-color: yellow;
  grid-column: 28 / 36;
  grid-row: 8 / 16;
}

.tres {
  background-color: lightgreen;
  grid-column: 36 / 44;
  grid-row: 8 / 16;
}

.cuatro {
  background-color: lightsalmon;
  border-top-right-radius: 50px;
  grid-column: 44 /52;
  grid-row: 8 / 16;
}
.cinco {
  background-color: rgb(144, 208, 238);
  grid-column: 44 / 52;
  grid-row: 16 / 24;
}
.seis {
  border-bottom-right-radius: 50px;
  background-color: rgb(72, 121, 212);
  grid-column: 44 / 52;
  grid-row: 24 / 32;
}
.siete {
  background-color: rgb(163, 212, 72);
  grid-column: 36 / 44;
  grid-row: 24 / 32;
}
.ocho {
  background-color: rgb(212, 93, 72);
  grid-column: 28 / 36;
  grid-row: 24 / 32;
}
.nueve{
  border-top-left-radius: 50px;
  background-color: rgb(85, 192, 156);
  grid-column: 20 / 28;
  grid-row: 24 / 32;
}
.diez {
  background-color: rgb(244, 255, 92);
  grid-column: 20 / 28;
  grid-row: 32 / 40;
}
.once {
  border-bottom-left-radius: 50px;
  background-color: rgb(120, 124, 63);
  grid-column: 20 / 28;
  grid-row: 40 / 48;
}
.doce {
  background-color: rgb(217, 230, 43);
  grid-column: 28 / 36;
  grid-row: 40 / 48;
}
.trece{
  background-color: rgb(241, 88, 88);
  grid-column: 36 / 44;
  grid-row: 40 / 48;
  z-index: 20;
}
.info_tittle{
  background-color: rgb(110, 177, 177);
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
/* .cinco {
  position: absolute;
  top: 53.3vh;
  left: 325px;
  width: 270px;
  height: 270px;
  background-color: transparent;
  border-radius: 50%;
  background-image: radial-gradient(gray 65px, transparent -4px 28px, transparent 32px), conic-gradient(transparent 116deg, #f42 111deg 180deg, transparent 180deg);
}

.seis {
  position: absolute;
  top: 53.3vh;
  left: 326px;
  width: 270px;
  height: 270px;
  background-color: transparent;
  border-radius: 50%;
  background-image: radial-gradient(gray 65px, transparent -4px 28px, transparent 32px), conic-gradient(transparent 50deg, blue 9deg 116deg, transparent 112deg);
}

.siete {
  position: absolute;
  top: 53vh;
  left: 327px;
  width: 270px;
  height: 270px;
  background-color: transparent;
  border-radius: 50%;
  background-image: radial-gradient(gray 65px, transparent -4px 28px, transparent 32px), conic-gradient(green 68deg, transparent 65deg 186deg, transparent 196deg);
} */

